on:
  workflow_call:

jobs:
  build:
    name: "Build Projects"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
          cache: yarn
          cache-dependency-path: ./yarn.lock
      - run: yarn install
        shell: bash
      - run: yarn build
        shell: bash
      - run: yarn build-storybook --webpack-stats-json
        shell: bash
      - uses: actions/upload-artifact@v3
        with:
          name: bundles_${{ github.sha }}
          path: |
            **/dist
            storybook-static
          retention-days: 1
